<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css" />
    <title>Yay Kyi Yar || Login</title>

    <!-- PEAGE DEFAULT: SEO TAGS -->
    <meta name="author" content="Yay Kyi Yar || Login">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Yay Kyi Yar || Login">
    <meta itemprop="description"
        content="Myanmar’s first one-stop online travel portal, offering the largest inventory of hotels, flights, cars, buses, and tours, with multiple secure payment options for local and international travelers.">
    <meta itemprop="image" content="/img/yky-img/logo.png">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="Yay Kyi Yar || Login">
    <meta name="twitter:site" content="Yay Kyi Yar Travel and Tours">
    <meta name="twitter:title"
        content="Visas, Flights, Hotels, Buses, Tours, Visa & Cars Booking - Myanmar | Yay Kyi Yar">
    <meta name="twitter:description"
        content="Myanmar’s first one-stop online travel portal, offering the largest inventory of hotels, flights, cars, buses, and tours, with multiple secure payment options for local and international travelers.">
    <meta name="twitter:image" content="/img/yky-img/logo.png">

    <!-- Open Graph data -->
    <meta property="og:title" content="Yay Kyi Yar || Login" />
    <meta property="og:type" content="Yay Kyi Yar || Login" />
    <meta property="og:url" content="http://yaykyiyar.com" />
    <meta property="og:image" content="/img/yky-img/logo.png" />
    <meta property="og:description"
        content="Myanmar’s first one-stop online travel portal, offering the largest inventory of hotels, flights, cars, buses, and tours, with multiple secure payment options for local and international travelers.">
</head>

<body>