<% include _layouts/header %>

<!-- CONTENT -->
<div id="page-content">
    <div class="section news">
        <div class="container">
            <div class="row">

                <div class="col s12">
                    <div class="news-content">
                        <div class="news-detail">
                            <h4 class="news-title"><a href="">About Us</a></h4>
                            <div class="date">
                                <span><i class="fa fa-calendar"></i></span>
                            </div>
                            <img src="https://i.imgur.com/7N5wr69.jpg" alt="yky-image">
                            <p><span style="font-weight: 400;"><strong> Agency (ရေကြည်ရာ အေဂျင်စီ)</strong> သည် ကျွန်တော်
                                    အေးကျော် မှ ပြည်ပရောက် မြန်မာပြည်သူ/သားများအားလုံး၏ အခက်အခဲများကို တတ်နိုင်တဲ့ဘက်မှ
                                    ဝိုင်းဝန်းကူညီလိုတဲ့စိတ်ဖြင့် ဒီ ရေကြည်ရာ အကျိုးဆောင် အေဂျင်စီ ကို မလေးရှား
                                    ဂျလမ်းပူဒူး၊ မေဘဏ်ဘေးနား နှင့်၊ လမ်း (၄၀) အပေါ်ဘလောက်၊ တိုက် အမှတ်- 260/262 A)
                                    မြေညီထပ်၊ ကျောက်တံတားမြို့နယ်၊ ရန်ကုန်၊ မြို့များမှာ ရုံးခန်း ဖွင့်လစ်ပြီး
                                    အများအတွက် အကျိုးဖြစ်စေမယ့် အောက်ပါ အတိုင်း ဝန်ဆောင်မှုများကို
                                    ပေးနေခြင်းဖြစ်ပါတယ်။</span></p>
                            <p>&nbsp;</p>
                            <h5><strong>ရေကြည်ရာ အကျိုးဆောင် အေဂျင်စီ တွင်</strong></h5>
                            <p><span style="font-weight: 400;">၁။ ပါမစ်သက်တမ်းကုန်မယ့် မလေးရှားရောက် ရွှေမြန်မာတွေကို
                                    ပါမစ်သက်တမ်းအမြန်ဆုံး တိုးပေးခြင်း။</span></p>
                            <p><span style="font-weight: 400;">၂။ သူဌေး ကုမ္ပဏီပါမစ်များ တခြားသောအေဂျင်စီ
                                    ပါမစ်များကိုလည်း သက်တမ်းတိုးပေးခြင်း။</span></p>
                            <p><span style="font-weight: 400;">၃။ ကုမ္ပဏီ <span
                                        style="color: #ff0000; font-weight: bold">black list</span> ဖြစ်နေသူများ <span
                                        style="color: #ff0000; font-weight: bold"> Batal</span> ဖြစ်နေသူများ 99%
                                    ခိုင်နှုန်း အာမခံတိုးပေးခြင်း။</span></p>
                            <p><span style="font-weight: 400;">၄။ ပါမစ်လက်ဝယ်မရှိသေးလို့
                                    အဖမ်းဆီးတွေကိုစိုးရိမ်နေရတဲ့သူများကိုလည်း ပါမစ်အသစ်တွေ အမြန်ဆုံ
                                    ပြုလုပ်ပေးခြင်း။</span></p>
                            <p><span style="font-weight: 400;">၅။ ရေကြည်ရာ ကို ယုံကြည်စိတ်ချစွာဖြင့် လက်တွဲပြီး
                                    ပါမစ်ထွက်ရှိထားသူတွေအတွက် အိမ်လွမ်းလို့ ပြန်မယ်ဆိုရင်လည်း အခက်ခဲမရှိ ပြန်နိုင်အောင်
                                    ဝန်ဆောင်မှု ပေးခြင်း။</span></p>
                            <p><span style="font-weight: 400;">၆။ ပါမစ်သက်တမ်းတိုးထားပေမယ့်&nbsp; Myeg -
                                    (သက်တမ်းတိုးထားကြောင်းထောက်ခံစာ) အတွက် စိတ်ပူစရာမလိုအောင်&nbsp; ကျွန်တော့မိတ်ဆွေ
                                    ရွှေမြန်မာများကို ကူညီဆောင်ရွက်ပေးခြင်း။</span></p>
                            <p><span style="font-weight: 400;">၇။ မလေးရှားမှာ ဘာအထောက်ထားမှ မရှိပေမယ့်
                                    စာအုပ်အသစ်လျှောက်ဖို့ မှတ်ပုံတင်မူရင်းနဲ့ သန်းခေါင်စာရင်း မိတ္တူရှိတဲ့ သူတွေကို
                                    သံရုံးစာအုပ်လျှောက်ထားပေခြင်း။</span></p>
                            <p><span style="font-weight: 400;">၈။ ပါမစ်တင်ချင်တယ် အကျိုးဆောင် အေဂျင့်များ အဆက်အသွယ်
                                    မရှိပဲ အခက်အခဲရှိနေသူများအတွက် ရေကြည်ရာ အေဂျင်စီမှ လူကြီးမင်းတို့၏ အိမ်တိုင်လာရောက်
                                    ဆောင်ရွက်ပေးခြင်း။</span></p>
                            <p><span style="font-weight: 400;">စသည့် မလေးရှားရောက် ရွှေမြန်မာများအတွက် လိုအပ်လျှက်ရှိသော
                                    ဝန်ဆောင်မှုများကို အကောင်းဆုံးနှင့် အမြန်ဆုံးဖြစ်အောင် အားလုံးလည်း
                                    ဘေးကင်းလုံခြုံပြီး စိတ်ချမ်းသာရအောင် ရေကြည်ရာ အေဂျင်စီမှ တာဝန်ခံ/ တာဝန်ယူ မှု
                                    စနစ်ဖြင့် အထွေထွေအကျိုးဆောင် လုပ်ငန်းများကို ဆောင်ရွက်ပေးနေပါပြီဖြစ်ပါတယ်။</span>
                            </p>
                        </div>
                    </div>
                    <a href="/">Go back to home page.</a>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
    <% include _layouts/footer %>