<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/img/yky-img/logo.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/contact/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/contact/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/contact/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/contact/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/contact/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/contact/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/contact/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/contact/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/contact/css/util.css">
    <link rel="stylesheet" type="text/css" href="/contact/css/main.css">
    <!--===============================================================================================-->

    <!-- PEAGE DEFAULT: SEO TAGS -->
    <meta name="author" content="Yay Kyi Yar">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Yay Kyi Yar || Customer Contact">
    <meta itemprop="description" content="Myanmar’s first one-stop online travel portal, offering the largest inventory of hotels, flights, cars, buses, and tours, with multiple secure payment options for local and international travelers.">
    <meta itemprop="image" content="/img/yky-img/logo.png">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="product">
    <meta name="twitter:site" content="Yay Kyi Yar || Customer Contact">
    <meta name="twitter:title" content="Visas, Flights, Hotels, Buses, Tours, Visa & Cars Booking - Myanmar | Yay Kyi Yar">
    <meta name="twitter:description" content="Myanmar’s first one-stop online travel portal, offering the largest inventory of hotels, flights, cars, buses, and tours, with multiple secure payment options for local and international travelers.">
    <meta name="twitter:image" content="/img/yky-img/logo.png">

    <!-- Open Graph data -->
    <meta property="og:title" content="Yay Kyi Yar || Customer Contact" />
    <meta property="og:type" content="profile" />
    <meta property="og:url" content="http://yaykyiyar.com" />
    <meta property="og:image" content="/img/yky-img/logo.png" />
    <meta property="og:description" content="Myanmar’s first one-stop online travel portal, offering the largest inventory of hotels, flights, cars, buses, and tours, with multiple secure payment options for local and international travelers.">
</head>

<body>


    <div class="container-contact100">
        <div class="contact100-map" id="google_map" data-map-x="40.722047" data-map-y="-73.986422"
            data-pin="images/icons/map-marker.png" data-scrollwhell="0" data-draggable="1"></div>

        <div class="wrap-contact100">
            <form action="/contact" method="POST" class="contact100-form validate-form">
                <span class="contact100-form-title">
                    Contact Us
                </span>

                <div class="wrap-input100 validate-input" data-validate="Please enter your name">
                    <input class="input100" type="text" placeholder="Full Name" id="name" name="name">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Please enter email: e@a.x">
                    <input class="input100" type="text" placeholder="Email" id="email" name="email">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Please enter phone number: 09...">
                    <input class="input100" type="number" placeholder="Phone Number" id="phone" name="phone">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Please enter your title: title...">
                    <input class="input100" type="text" placeholder="Asking Title" id="mainsub" name="mainsub">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Please enter your message">
                    <textarea class="input100" placeholder="Your Message" id="text" name="text"></textarea>
                    <span class="focus-input100"></span>
                </div>

                <div class="container-contact100-form-btn">
                    <button type="submit" class="contact100-form-btn">
                        Send Email
                    </button>
                </div>
                <div  style="text-align: center">
                    <a href="/"><<< back to home page >>></a>
                </div>
            </form>

            <div class="contact100-more">
                Contact our 24/5 call center: <a href="<%= jsonData.phone %>"><span class="contact100-more-highlight">+959 518 3828</span></a>
            </div>
        </div>
    </div>



    <div id="dropDownSelect1"></div>
    <!--===============================================================================================-->
    <script src="/js/chan.js"></script>
    <!--===============================================================================================-->
    <script src="/contact/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/contact/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/contact/vendor/bootstrap/js/popper.js"></script>
    <script src="/contact/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/contact/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="/contact/vendor/daterangepicker/moment.min.js"></script>
    <script src="/contact/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="/contact/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKFWBqlKAGCeS1rMVoaNlwyayu0e0YRes"></script>
    <script src="/contact/js/map-custom.js"></script>
    <!--===============================================================================================-->
    <script src="/contact/js/main.js"></script>
    <!--===============================================================================================-->



</body>

</html>